app/WeStudy/WeStudy.xcodeproj/project.xcworkspace/xcuserdata/

app/WeStudy/Pods/Pods.xcodeproj/xcuserdata/

app/WeStudy/WeStudy.xcworkspace/xcuserdata/khalea.xcuserdatad/UserInterfaceState.xcuserstate

app/WeStudy/WeStudy.xcworkspace/

app/WeStudy/.DS_Store

database/.DS_Store

*/.DS_Store

# Xcode
**/build
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedatae
WeStudy.xcworkspace/xcuserdata/


build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
